# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Model artifacts & caches
*.pkl
*.pt
*.bin
*.ckpt

# Embedding caches
model_training_scripts/**/embeddings_cache/**

# Local env
.env
.env.*
venv/
.venv/

# OS
.DS_Store
